<div class="blog-box">

  <%= form_with(model: @blog, local: true ,url: choose_new_or_edit ) do |form| %>

    <% if @blog.errors.any? %>
      <h2><%= @blog.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    <% end %>

    <%= form.label :content %>
    <%= form.text_field :content %>
    <br>
    <%= form.label :image %>
    <%= image_tag(@blog.image.url) if @blog.image && @blog.image.url %>
    <br>
    <%= form.file_field :image %>
    <%= form.hidden_field :image_cache %>
    <br>
    <%= form.submit %>

  <% end %>

</div>

<%= link_to "ブログ一覧画面にもどる", blogs_path %>