<h1><%= current_user.name %> のお気に入り一覧</h1>

<% @favorites.each do |favorite| %>
  <div class="blog-box">
    <p>名前: <%= favorite.blog.user.name %></p>
    <p>本文: <%= favorite.blog.content %></p>
    <p>画像: <%= image_tag favorite.blog.image.url %></p>
  </div>
<% end %>

<%= link_to "ブログ一覧画面にもどる", blogs_path %>